<div class="login-container">
	<div class="confirmbox">
		<figure class="logo">
			<img src="../../assets/images/check.png" class="mark" alt="logo" />
		</figure>
		<h1>Thank You For Registering</h1>
		<h3>Please check your email and confirm your email address.</h3>
		<h5>For any query you can contact us at support@fastcode.com</h5>
		<!-- <button class="button" (click)="GotoLogin()" color="accent" mat-flat-button>Login</button> -->
		<button name="login" (click)="GotoLogin()" mat-flat-button color="accent" class="btn-submit">
			Login &nbsp; <i class="material-icons" style="color:#fff; bottom:0;">
				near_me
			</i>
		</button>
	</div>
</div>