<div class="dashboard-container" *ngIf="dashboard">
  <mat-card>
    <div fxLayout="row" fxLayoutAlign="space-between" fxLayoutGap="10px" class="mb-20 details-container">
      <div fxLayout="row" gdAlignRows="center" fxLayoutAlign="start" fxLayoutGap="10px">
        <div class="top-breadcrumb">
          <h3 class="template-title-small">{{dashboard.title}}</h3>
        </div>
        <p>{{dashboard.description}}</p>
      </div>
      <div fxLayout="row" fxLayoutAlign="end center">
        <button mat-button [matMenuTriggerFor]="menu" style="margin-bottom: auto;">
          <mat-icon color="accent">
            more_vert
          </mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="previewDashboard(dashboard.id)">
            <mat-icon class="menu-icon">visibility</mat-icon>
            Preview
          </button>

          <button mat-menu-item *ngIf="!dashboard.sharedWithMe || dashboard.editable" (click)="editDashboard()">
            <mat-icon class="menu-icon">save</mat-icon>
            Save
          </button>
          <button mat-menu-item *ngIf="dashboard.sharedWithMe && !dashboard.isResetted"
            (click)="resetDashboard(dashboard.id)">
            <mat-icon class="menu-icon">refresh</mat-icon>
            Reset
          </button>
          <button mat-menu-item *ngIf="
          !dashboard.isRefreshed &&
          dashboard.sharedWithMe &&
          dashboard.ownerSharingStatus &&
          dashboard.recipientSharingStatus" (click)="refreshDashboard(dashboard.id)">
            <mat-icon class="menu-icon">sync</mat-icon>
            Refresh
          </button>
          <button mat-menu-item *ngIf="!dashboard.sharedWithMe && !dashboard.isPublished"
            (click)="publishDashboard(dashboard.id)">
            <mat-icon class="menu-icon">publish</mat-icon>
            Publish
          </button>
          <button mat-menu-item *ngIf="!dashboard.sharedWithMe && dashboard.isShareable" [matMenuTriggerFor]="sharemenu" (click)="share()">
            <mat-icon class="menu-icon">group_add</mat-icon>
            Share
          </button>
          <button mat-menu-item *ngIf="!dashboard.sharedWithMe && dashboard.isShareable" (click)="manageSharing()">
            <mat-icon class="menu-icon">group</mat-icon>
            Manage sharing
          </button>
          <button mat-menu-item *ngIf="!dashboard.sharedWithMe" (click)="deleteDashboard(dashboard)">
            <mat-icon class="menu-icon">delete</mat-icon>
            Delete
          </button>
          <button mat-menu-item *ngIf="!dashboard.sharedWithMe" (click)="changeOwner()">
            <mat-icon class="menu-icon">repeat</mat-icon>
            Transfer ownership
          </button>
        </mat-menu>
        <mat-menu #sharemenu="matMenu">
          <button mat-menu-item (click)="share()">
            <mat-icon class="menu-icon">group_add</mat-icon>
            Share Internaly
          </button>
          <button mat-menu-item (click)="shareExternaly(dashboard)">
            <mat-icon class="menu-icon">group_add</mat-icon>
            Share Externaly
          </button>
        </mat-menu>
        <!-- <button color="primary" (click)="share()" mat-stroked-button>
          <mat-icon>people</mat-icon>&nbsp;Share</button>
        <button color="primary" [routerLink]="['/dashboard/preview/',dashboard.id]" class="mat-stroked-button mat-button-base mat-primary">Preview</button>
        <button color="primary" (click)="updateDashboard()" class="mat-stroked-button mat-button-base mat-primary">Save</button> -->
      </div>
    </div>
    <div fxLayout="row" class="charts-container" cdkDropList (cdkDropListDropped)="drop($event)">
      <div *ngFor="let report of dashboard.reportDetails; let i=index" cdkDrag [class]="report.reportWidth">
        <div class="innerChartBlock">
          <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="10px">
            <div class="chartoptions" appDropdown>
              <button mat-button [matMenuTriggerFor]="actions">
                <mat-icon color="accent">
                  more_vert
                </mat-icon>
              </button>

              <mat-menu #actions="matMenu">
                <button mat-menu-item [matMenuTriggerFor]="size">
                  <mat-icon>photo_size_select_large</mat-icon>Size
                </button>
                <button mat-menu-item *ngIf="!report.sharedWithMe || report.editable" (click)="editReport(report)">
                  <mat-icon>edit</mat-icon>Edit
                </button>
                <button mat-menu-item (click)="deleteReport(dashboard.id,report.id)">
                  <mat-icon>delete</mat-icon>Delete
                </button>
                <button mat-menu-item (click)="refreshChart(report.id)">
                  <mat-icon>refresh</mat-icon>Refresh
                </button>
              </mat-menu>

              <mat-menu #size="matMenu">
                <button mat-menu-item (click)="setSize('smallchart',i)">Small</button>
                <button mat-menu-item (click)="setSize('mediumchart',i)">Medium</button>
                <button mat-menu-item (click)="setSize('largechart',i)">Large</button>
                <button mat-menu-item (click)="setSize('fullchart',i)">Full</button>
              </mat-menu>
              <!-- <button mat-stroked-button color="primary">Size</button>
            <ul class="dropdown-list">
              <li (click)="setSize('smallchart',i)">Small</li>
              <li (click)="setSize('mediumchart',i)">Medium</li>
              <li (click)="setSize('largechart',i)">Large</li>
              <li (click)="setSize('fullchart',i)">Full</li>
            </ul> -->
            </div>
            <!-- <button mat-stroked-button color="primary">
            <mat-icon (click)="deleteReport(report.id)">delete</mat-icon>
          </button> -->
          </div>
          <app-chart [chartType]="report.reportType" [query]="report.query" [ctype]="report.ctype"
            [title]="report.title">
          </app-chart>
        </div>
      </div>

    </div>

  </mat-card>
</div>
