<!-- <div class="container">
  <div class="home-container">
    <div class="left">
      <mat-card class="left-card">
        <mat-card-content>
          fastcode online is the best place to generate fastcode applications, with no
          installation required!
        </mat-card-content>
      </mat-card>
      <mat-card class="left-card">
        <mat-card-content>
          fastcode online is the best place to generate fastcode applications, with no
          installation required!
        </mat-card-content>
      </mat-card>
      <mat-card class="left-card">
        <mat-card-content>
          fastcode online is the best place to generate fastcode applications, with no
          installation required!
        </mat-card-content>
      </mat-card>
    </div>
    <div class="item-form-container">

      <div class="welcome-row">
        <i class="material-icons fc-icon">
          dashboard
        </i>
        <h2>welcome to fastcode online</h2>
      </div>
            
   		      <mat-card *ngif="!authenticationservice.token" class="item-card">
        <mat-card-content>
          <h2>authentication</h2>
          <h4>sign in</h4>
          <p>
            if you already have an account:
          </p>
          <button name="login" color="primary" mat-flat-button (click)="onsubmit()">
            sign in </button>
        </mat-card-content>
      </mat-card>
      <mat-card *ngif="authenticationservice.token" class="item-card">
        <mat-card-content>
          <p>login to dashboard:</p>
          <button name="dashboard" color="primary" mat-flat-button (click)="gotodashboard()">dashboard</button>
        </mat-card-content>
      </mat-card>
        
      <div>
        <h4>fastcode is an open source, widely popular application generator </h4>
        <p>
          if you want more information on fastcode:

          fastcode homepage (with documentation, slides, tutorials, etc.)
          fastcode source code on github
          fastcode on twitter
        </p>
      </div>
    </div>
  </div>
</div> -->