<div style="display: flex">
	<h3 mat-dialog-title>Add calculated measures</h3>
	<a name="cancel" href="javascript:void(0)" mat-dialog-close class="cancle-btn"><i
			class="material-icons">add_circle</i></a>
</div>
<div mat-dialog-content>
	<div>
		<textarea style="height: 200px; width: 200px">
			
		</textarea>
	</div>
</div>

<!-- <div mat-dialog-actions fxLayout fxLayoutAlign="center center"> -->
<div mat-dialog-actions class="fc-text-right">
	<button mat-raised-button (click)="saveAndShareExternally()" color="primary">Save</button>
	<!-- <button mat-raised-button color="accent" mat-dialog-close>Cancel</button> -->
</div>