.share-picker-list{
    height: calc(100% - 85px);
    overflow: auto;
}

.share-picker-container{
    height: 100%;
    overflow: auto;
}

.share-picker-container .mat-select{
    width:50%;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 5px
}

span .mat-icon{
    font-size: 18px;
}