<div class="list-container">
	<div class="mate-container">
		<div class="reset-card-container">
			<div class="top-breadcrumb center-container">
				<h1 class="template-title">Forgot password</h1>
			</div>
			<mat-card class="center-container">
				<mat-card-content *ngIf="!linkSent">
					<p>Enter your user account's verified email address and we will send you a password reset link.
					</p>
					<form [formGroup]="resetForm" #resetNgForm="ngForm" class="reset-form" (ngSubmit)="forgotPassword()">
						<mat-form-field>

							<input matInput type="text" formControlName="email" placeholder="Email" />
							<mat-error *ngIf="resetForm.hasError('required', 'email')">
								Email is required.
							</mat-error>
						</mat-form-field>

					</form>

					<br>
					<br>
					<div class="association-div full-width">
						<div class="fc-row">
							<div class="fc-col-sm-6">
							</div>
							<div class="fc-col-sm-6 fc-text-right">
								<button name="save" mat-raised-button color="primary" [disabled]="!resetForm.valid || disabled"
									(click)="resetNgForm.ngSubmit.emit()">Send password reset email
								</button>
							</div>
						</div>
					</div>
					<br>
					<br>
				</mat-card-content>
				<mat-card-content *ngIf="linkSent">
					<p>Check your email for a link to reset your password. If it doesn’t appear within a few
						minutes,
						check your spam folder.</p>
					<button mat-raised-button [routerLink]="['/login']">
						Go to login
					</button>
				</mat-card-content>
			</mat-card>
		</div>
	</div>
</div>