<div class="list-container">
	<div class="mate-container">
		<div class="reset-card-container">
			<div class="top-breadcrumb center-container">
				<h1 class="template-title">Update password</h1>
			</div>
			<mat-card class="center-container">
				<mat-card-content *ngIf="!passwordUpdated">
					<form [formGroup]="resetForm" #resetNgForm="ngForm" class="reset-form" (ngSubmit)="resetPassword()">
						<mat-form-field>
							<input type="password" matInput placeholder="New password" formControlName="password">
							<mat-error *ngIf="resetForm.hasError('required', 'password')">
								Password is required.
							</mat-error>
						</mat-form-field>

						<mat-form-field>
							<input matInput type="password" placeholder="Confirm password" formControlName="confirmPassword"
								pattern="{{ resetForm.get('password').value }}">
							<mat-error *ngIf="!resetForm.get('confirmPassword').valid && resetForm.get('confirmPassword').touched">
								Password does not match.
							</mat-error>
						</mat-form-field>
					</form>

					<br>
					<br>
					<div class="association-div full-width">
						<div class="fc-row">
							<div class="fc-col-sm-6">
							</div>
							<div class="fc-col-sm-6 fc-text-right">
								<button name="save" mat-raised-button color="primary" [disabled]="!resetForm.valid || disabled"
									(click)="resetNgForm.ngSubmit.emit()">Save
								</button>
							</div>
						</div>
					</div>
					<br>
					<br>
				</mat-card-content>
				<mat-card-content *ngIf="passwordUpdated">
					<p>Your password is updated.</p>
					<button mat-raised-button color="primary" [routerLink]="['/login']">
						Go to login
					</button>
				</mat-card-content>
			</mat-card>
		</div>
	</div>
</div>